@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jomhuria&family=Montserrat:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 300ms ease;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 9px;
  margin-top: 10px;
  font-size: 18px;
}

.tarefas li span {
  display: flex;
  align-items: center;
}

.tarefas li:hover {
  background: #77b7c5;
  border-radius: 9px;
}

.edit {
  margin-right: 15px;
  color: #8cd5e6;
  cursor: pointer;
  font-size: 20px;
}

.delete {
  color: #f04c64;
  cursor: pointer;
  font-size: 20px;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete:hover {
  color: #000;
  transition: all 300ms ease;
}

.btnKill {
  display: block;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin: 20px auto 0 auto;
  font-size: 15px;
  background: #f04c64;
  color: #fff;
  transition: all 300ms ease;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.btnKill:hover {
  transform: scale(1.05);
}
