* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url('/images/72079-wallpaper-4k-small-memory-4k-4k-wallpaper-artist-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}
